@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {
  :root {
    --primary-color: #1b3c8e;
    --primary-hover: #1b3c8e;
    --background: 20 66% 99%;
    --foreground: 20 51% 4%;
    --muted: 0 0% 97%;
    --muted-foreground: 20 7% 25%;
    --popover: 20 66% 98%;
    --popover-foreground: 20 51% 3%;
    --card: 20 66% 98%;
    --card-foreground: 20 51% 3%;
    --border: 20 15% 94%;
    --input: 20 15% 94%;
    --primary: 226, 68%, 33%;
    --primary-foreground: 20 48% 12%;
    --secondary: 198, 100%, 97%;
    --secondary-foreground: 20 12% 32%;
    --accent: 20 12% 92%;
    --accent-foreground: 20 12% 32%;
    --destructive: 11 80% 22%;
    --destructive-foreground: 11 80% 82%;
    --ring: 248 25% 84%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

